


.site-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;        
  padding: 10px 20px;
  background-color: #152237;
}
.form {
  color: white;
}
.site-header,
.zone1 {
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}
